#header-container {
    display: flex;
    justify-content: space-between;
}

#high-score-link {
    text-decoration: underline;
    font-size: 25px;
}

.container {
    display: flex;
    width: 700px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

#start-button {
    font-weight: bold;
    padding: 5px;
    margin:10px;
    text-align: center;
}

.answer-choice {
    border: black 2px solid;
    padding:5px;
    margin: 5px;
}

.answer-choice:hover {
    background-color: lightblue;
}

.hide {
    display: none;
}